
@media screen and (min-width:800px){
:root {
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}
main section{
    display: inline-flex;
}
h1 {
   text-align: center;
}

header nav {
    background-color: red; 
    color: white;
    padding: 0;
    display: inline-flex;
}

ul {
    display: inline-flex;
    color: black;
    list-style: none;
    padding: none;
}

li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
}

body {
    background-color: black;
    color: white;
}
h3 {
    text-align: center;
    color: red;
}

section p {
    display: flex;
}

section img {
    display: block; 
    height: 200px;

}
}

@media screen and (min-width:400px){
    
    }